@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9fafb; /* Garante fundo cinza claro global */
}
